* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: hsl(47, 88%, 63%);
  font-family: "figtree", serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
main {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 42%);
  width: 38rem;
/*   margin: 8rem auto; */
  padding: 2rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 1rem 1rem black;
}
img {
  border-radius: 10px;
}
header {
  color: hsl(0, 0%, 7%);
}
header span {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
  padding: 0.6rem 1.2rem;
  border-radius: 3px;
  margin: 1.8rem 0 1.6rem 0;
}
h1 {
  margin: 1.6rem 0;
  font-weight: 800;
}
h1:hover,
h1:active {
  cursor: pointer;
  color: hsl(47, 88%, 63%);
}
blockquote {
  margin-bottom: 1.8rem;
  line-height: 1.6;
}
span {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
span img {
  width: 3.2rem;
}
.attribution {
  position: absolute;
  left: 50vw;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
